<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda de número {{ id }} ({{ product }}) foi cancelada por problemas. Confira os detalhes abaixo: </p>
<p>
  <strong>Descrição do Problema: </strong> {{ description }} <br />

  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Endereço: </strong> Rua {{ street }}, Número {{number}}, {{city}} - {{state}} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br>
  <small>
   Qualquer dúvida, entre em contato com o suporte.
  </small>
</p>
