<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda chegou para você, confira os detalhes abaixo: </p>
<p>
  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Endereço: </strong> Rua {{ street }}, Número {{number}}, {{city}} - {{state}} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br>
  <small>
   Qualquer problema, entre em contato com o suporte.
  </small>
</p>
